.experience {
    padding-bottom: 15rem;
}

@media only screen and (min-width: 0px) {

    /* box */
    .experience .exp-box {
        box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        padding-bottom: 2rem;
        background-color: white;
        margin: 1rem 0 1rem 0;
        width: 75%;
        border-radius: 25px;
    }
    .experience .exp-box:hover {
        transition: ease .3s;
        background-color:  #ffe6ee;
        cursor: pointer;
    }

    .experience .header:hover {
        color: #bd4c6e;
        transition: ease .3s;
    }

    .experience .exp-box .location {
        font-weight: 400;
    }
    /* endregion */

    /* box header */
    .experience .exp-box .header {
        padding: 1rem 1rem 10rem 1rem;
    }
    .experience img {
        width: 4rem;
        border-radius: 75%;
        float: center;
    }
    .experience h2 {
        font-size: .9rem;
        vertical-align: center;
    }
    .experience h2.left {
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .experience h2.right {
        font-weight: 400;
        margin-top: 0;
        width: 100%;
        text-align: center;
    }
    /* endregion */

    /* box content */
    .experience ul li {
        margin: 1rem 1rem 0 0;
        font-size: .8rem;
        list-style-type: none;
    }
    /* endregion */
}

@media only screen and (min-width: 600px) {
    .experience h2 {
        font-size: 1rem;
    }
    .experience ul li {
        font-size: 0.9rem;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .experience .exp-box {
        width: 80%;
    }

    .experience .exp-box .header {
        padding-bottom: 2rem;
    }
    .experience .pic {
        width: 10%;
        float: left;
    }
    .experience img {
        width: 3.5rem;
    }
    .experience .role, .location {
        margin-left: 4.5rem;
    }
    .experience h2.left {
        width: 65%;
        float: left;
        text-align: left;
        font-size: 1rem;
        margin: 0;
    }
    .experience h2.right {
        width: 35%;
        font-size: 1rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .experience .exp-box {
        width: 65%;
    }
    .experience h2.left {
        width: 65%;
        font-size: 1rem;
    }
    .experience .exp-box .header {
        padding-bottom: 2.3rem;
    }
}

@media only screen and (min-width: 1500px) {
    .experience .exp-box {
        width: 60%;
    }
}

@media only screen and (min-width: 1750px) {
    .experience .exp-box {
        width: 50%;
    }
}